<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <% provide(:title, 'Metahash') %>
</head>


<body>
  <% if !logged_in? %>
  <div class="center jumbotron">
   <div class = "header-title">meta<span>#</span>ash</div>

   <%= link_to "Signup", new_user_path, :class => "button grow" %>
  </div>
  <% else %>
  <div id="wrapper">
    <div id="sidebar-wrapper">

      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#" id="Trending-Banner">   </a>
        </li>
        <%-#load_trends is in static pages helper %>
        <% load_trends %>
        <% @trends.each do |trend| %>
          <li><%= link_to trend.title, trend %></li>
        <% end %>

      </ul>
  </div>

</div>

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="center jumbotron">
          <% @all_trends.each do |trend| %>
          <div class = "trend_list_item">
            <h3 class="list-itemInfo">  <%= link_to trend.title, trend %> </h4>
              <h4> <%= time_ago_in_words(trend.created_at) %> ago </h4>
            </div>
            <%end %>
            <%= will_paginate @all_trends %>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->



<script src="assets/javascripts/jquery.js"></script>


<script src="js/bootstrap.min.js"></script>


<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");

  });
</script>

<% end %>

<% if false %>
<ul class = "trends">
  <%-# defined in static pages controller-%>
  <%-# name,query,url -%>
  <%= @trends.each do |trend| %>
  <li> <%= trend["name"]%>  </li>
  <%end %>
</ul>
<%end %>
</body>
</html>
