<% if !params[:topic].nil? %>
<%= render 'shared/error_messages', object: f.object %>
<% end %>
<div class = "submission-form">
	<%= form_for(Topic.new, url: trend_topics_path(params[:id])) do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title, class: 'form-control' %>

		<%= f.label :summary %>
		<div class="field">
  			<%= f.text_area :summary %>
		</div>


		<%= f.label :trending_reason %>
		<div class="field">
  			<%= f.text_area :trending_reason %>
		</div>
		<%= f.submit "Submit", class: "btn btn-primary" %>
	<% end %>
</div>
