<% provide(:title, @topic.title) %>
<div class="col-md-15">
  <section class="user_info content-float">
    <h1>
      <%= @topic.title %>
      <br>
    </h1>

    <h2>
      <%= @topic.summary %>
      <br>
      <br>

      <%= @topic.trending_reason %>
      <br>
      <br>

      <% if @topic.imageURL?%>
      <img src="<%=@topic.imageURL%>">
      <br>
      <br>
      <%end%>

    </h2>

  </section>
</div>

<% if logged_in? %>
<aside>
  <%= render "shared/submission_form" %>
</aside>
<% end %>

<% if @submissions.any? %>
<section class="submissions">
  <%= render @submissions %>
</section>
<%= will_paginate @submissions %>
<% end %>
