<% provide(:title, 'Sign up') %>
<h1> </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <div class = "login_box">
    <h1>welcome to meta#ash!</h1>
    <%= form_for(@user, :html => {:class => 'login_form'}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Sign Up", class: "login_button login_grow" %>
    <% end %>
  </div>
</div>
</div>
