
<head> 

<script type="text/javascript" src="tinymce/js/tinymce/tinymce.min.js"></script>
  <script type="text/javascript">
      tinymce.init({
        selector: "textarea"
      });
  </script>
</head>

<body>
  <% if logged_in? %> 
  <div id="wrapper">
    <div id="sidebar-wrapper">

      <ul class="sidebar-nav">

        <li class="sidebar-brand">
          <a href="#" id="Trending-Banner">   </a>
        </li>
        <%-#load_trends is in static pages helper %>
        <% Trend.last(10).each do |trend| %>
           <li><%= link_to trend.title, trend %></li>
        <% end %>

      </ul>
  </div>

</div>

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="center jumbotron">
          <div class = "topic-title"><%=@current_trend.title%></div>
          <% if @current_trend.topics.any?%>
            <%=render @topic %>
          <% else %>
            <%= link_to_function "Create Topic", "$('#hide').toggleClass('hidden-topic-partial')" %>

            <div id="hide" class="hidden-topic-partial"> <%= render "topics/new_topic_form" %> </div>

          <% end %>

          

        </div>
        <ul class="users post-float">
          <%= link_to_function "Post", "$('#hide-submission').toggleClass('hidden-submission-partial')" %>
          <div id="hide-submission" class="hidden-submission-partial"> <%= render "shared/submission_form" %> </div>
        
        <div class="class: list-group">
          <%= render @posts %>
        </div>



        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->



<script src="assets/javascripts/jquery.js"></script>


<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");

  });
</script>

<% end %>

<% if false %>
<ul class = "trends">
  <%-# defined in static pages controller-%>
  <%-# name,query,url -%>
  <%= @trends.each do |trend| %>
  <li> <%= trend["name"]%>  </li>   
  <%end %>
</ul>
<%end %>
</body>
</html>