<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_for(Submission.new, url: trend_submissions_path(params[:id])) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title, class: "control-label" %>
      <%= f.text_area :title, class: "form-control" %>

      <%= f.label :Comment, class: "control-label" %>
      <%= f.text_area :content, class: "form-control" %>

      <%= f.fields_for(Link.new) do |builder| %>
        <%= builder.label :url, class: "control-label"%>
        <%= builder.text_field :url, class: "form-control" %>
      <% end %>

      <%= f.submit "Post", class: "btn btn-primary" %>

    <% end %>
    </div>
  </div>

</div>
