<div class="row">
  <div class="col-lg-12">
    <%= form_for(Submission.new, url: trend_submissions_path(params[:id])) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>


      <%= f.text_field :title, :placeholder => "Title", class: "form-control" %>

      
      <%= f.text_area :content, :placeholder => "Write Your Post", :rows => 15, class: "form-control" %>

      <%= f.fields_for(Link.new) do |builder| %>
 
        <%= builder.text_field :url, :placeholder => "Link", class: "form-control" %>
      <% end %>

      <%= f.submit "Submit", class: "btn btn-primary" %>

    <% end %>
    </div>
  </div>

</div>
