<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path%></li>

          <% if logged_in? %>
          <li><%= link_to "Profile", '#' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Settings <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", @current_user %></li>
              <li><%= link_to "Create Topic", new_topic_path, method: "post" %></li>

              <li class="divider"></li>
              <li>
                <%= link_to "Logout", logout_path, method: :delete %>
              </li>
            </ul>

         
          </li>

          <% else %>
          <li><%= link_to "Login", sessions_new_path %></li>


          <% end %>

         </ul>

         <ul class="nav navbar-nav navbar-left">
            <% if logged_in? %>
              <li><a href="#menu-toggle" class="trending-button" id="menu-toggle">Trending</a></li>
              <li>
                  <%= form_tag(trends_path, :method => "get", id: "search-form") do %>
                    <%= text_field_tag :search, params[:search], placeholder: "Search Trends", class: "search_bar" %>
                  <% end %>
                

        </li> 
              

            <%end%>

          </ul>
      </nav>
    </div>
  </header>